@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: poppins;
}
:root{
  --blue: #0036d8;
  --black: #000000;
}
.typedheader{
  color:var(--blue);
  background-color: var(--black);
  font-size: x-large;
}
