/* reset.css */

/* Remove all default margins and paddings */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default border and outline on focus for inputs */
input {
  border: none;
  outline: none;
}

/* Set a consistent focus behavior */
input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

/* Set a transparent background for inputs */
input {
  background-color: transparent;
}
